.nav {
  position: fixed;
  padding: 1rem;
  z-index: 10;
  @apply inset-x-0 bottom-0 bg-white border-t rounded-t-3xl sm:rounded-none sm:static;
}
.list {
  @apply flex justify-center gap-4;
}
.item:first-child {
  @apply sm:ml-auto;
}
.pageLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @apply transition-all px-2 rounded-md;
}
.pageLink svg {
  @apply stroke-gray-400 sm:hidden;
}
.pageLink[data-active="true"] {
  @apply sm:text-gray-700 sm:bg-gray-100;
}
.pageLink > span:first-child {
  @apply px-2 py-1 rounded-md sm:p-0 sm:bg-none;
}
.pageLink > span:last-child {
  @apply text-gray-700;
}
.pageLink[data-active="true"] > span:first-child {
  @apply bg-gray-100 rounded-xl sm:p-0 sm:bg-none;
}
