.nav {
  position: fixed; 
  padding: 1rem;
  z-index: 10;
  /* box-shadow: 0px -1px 5px rgb(0 0 0 / 19%); */
  @apply inset-x-0 bottom-0 bg-white border-t rounded-t-3xl sm:static;
}
.list {
  @apply flex justify-center space-x-6 sm:justify-center;
}
.item {
  @apply basis-1/5 sm:basis-[5rem];
}
.pageLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  /* @apply transition-all p-1 rounded-md text-slate-600 sm:bg-slate-100; */
}
.pageLink > * {
  width: 100%;
}
.pageLink > svg {
  @apply stroke-gray-300 sm:hidden;
}
.pageLink[data-active="true"] {
  @apply text-gray-700  sm:bg-gray-50;
}
