.nav {
  position: fixed;
  display: grid;
  /* grid-template-columns: repeat(12, 1fr); */
  /* grid-auto-flow: column;
  align-items: center; */
  /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
  padding: 1rem;
  z-index: 10;
  @apply inset-x-0 bottom-0 bg-white border-t rounded-t-3xl sm:top-0 sm:bottom-auto sm:px-64 sm:shadow-lg sm:border-none sm:rounded-none;
}
.list {
  @apply col-span-12 flex justify-center gap-4 sm:row-start-2;
}

.lang {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.25rem;
  /* @apply px-1 text-gray-600 bg-gray-50 border rounded-2xl; */
}

/* center the pages' links regardless the direction
------------------------------------*/
.item:nth-child(2) {
  /* background-color: red; */
  @apply sm:ltr:ml-auto sm:rtl:mr-auto;
}
.item:nth-last-child(2) {
  /* background-color: yellow; */
  @apply sm:ltr:mr-auto sm:rtl:ml-auto;
}
/*----------------------------------------*/
.pageLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @apply transition-all px-2 rounded-xl;
}
.pageLink svg {
  @apply stroke-gray-400 sm:hidden;
}
.pageLink[data-active="true"] {
  @apply sm:text-gray-700 sm:bg-gray-100;
}
.pageLink > span:first-child {
  @apply px-4 py-1 rounded-md sm:p-0 sm:bg-none;
}
.pageLink > span:last-child {
  @apply text-gray-400 font-medium;
}
.pageLink[data-active="true"] > span:last-child {
  @apply text-gray-700 font-medium;
}
.pageLink[data-active="true"] > span:first-child {
  @apply bg-gray-200 bg-opacity-60 rounded-2xl sm:p-0 sm:bg-none;
}
.pageLink[data-active="true"] > span:first-child > svg {
  stroke: black;
}
