@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .grid-sm {
    grid-template-areas:
      "tab tab"
      " income expense";
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    grid-row-gap: 1rem;
  }
  .grid-lg {
    grid-template-areas: "income tab tab expense";
    grid-template-columns: repeat(4, 1fr);  
  }
  .tab {
    grid-area: tab;
  }
  .income {
    grid-area: income;
  }
  .expense {
    grid-area: expense;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  @apply bg-gray-50;
}
.hideScrollBar::-webkit-scrollbar {
  width: 0;
}
.after::after,
.before::before {
  content: "▼";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgb(255 255 255),
    rgb(255 255 255/0.75)
  );
  text-align: center;
  color: rgb(0 0 0/0.35);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.before::before {
  content: "▲";
  display: block;
  position: sticky;
  top: 0;
  background-image: linear-gradient(180deg, rgb(255 255 255),rgb(255 255 255/0.75));
  border-radius: unset;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
